{# Side-pane with table of contents #}
<nav class="wm-toc-pane">
  {# Optional link to the repository #}
  {%- block repo %}
    {%- if config.repo_url %}
    <div class="tocpane-repo">
      <div class="tocpane-repo-title">
        <span>GITHUB</span>
      </div>
      <ul class="wm-toctree wm-toc-repo add-border">
        <li class="wm-toc-li wm-toc-lev1">
        <a class="wm-article-link wm-toc-text" href="{{ config.repo_url }}">
          {% include 'repo-icon.html' %}
          {{ config.repo_name }}
        </a>
        </li>
      </ul>
    </div>
    {%- endif %}
  {%- endblock %}

  <div class="tocpane-repo">
    <div class="tocpane-repo-title">
      <span>More links</span>
    </div>
    <ul class="wm-toctree wm-toc-repo add-border">
      <li class="wm-toc-li wm-toc-lev1">
      <a class="wm-article-link wm-toc-text" href="#">
        Discord
      </a>
      </li>
      <li class="wm-toc-li wm-toc-lev1">
        <a class="wm-article-link wm-toc-text" href="#">
          ArtStation
        </a>
      </li>
      <li class="wm-toc-li wm-toc-lev1">
        <a class="wm-article-link wm-toc-text" href="#">
          YouTube
        </a>
      </li>
      <li class="wm-toc-li wm-toc-lev1">
        <a class="wm-article-link wm-toc-text" href="#">
          WebSite
        </a>
      </li>
    </ul>
  </div>


  {%- block site_nav %}
  <ul class="wm-toctree add-border">
    {%- set navlevel = 1 %}
    {%- for nav_item in nav %}
        {% include 'nav-item.html' %}
    {%- endfor %}
  </ul>
  {%- endblock %}
</nav>
