/*
ruby #EDEDED

dark-bg-light #39434D
dark-bg-light-hover #2C323C

dark-bg-dark #0a0a1d
dark-bg-dark-hover #2C313A

dark-code-bg #31363F

*/
img {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

body {
  background-color: #39434D;
  color: #EDEDED;
}

/***********************************************************************
Top bar
***********************************************************************/

.navbar {
background-color: #0a0a1d;
/* box-shadow: 0 1.5px 3px rgba(0,0,0,.24), 0 3px 8px rgba(0,0,0,.05); */
border: none;
border-radius: 0px;
margin-bottom: 0px;
height: 50px;
z-index: 2;
}

.wm-top-page {
overflow: hidden;
}

.wm-page-content {
max-width: 700px;
}

.wm-page-top-frame { display: none; }
.wm-top-page > .wm-page-top-frame { display: block; }
.wm-top-page > .wm-page-content { display: none; }

.wm-top-brand {
display: inline-block;
float: left;
overflow: visible;
width: 0px;
height: 50px;
color: #EDEDED;
font-size: 18px;
white-space: nowrap;
text-decoration: none;
}

.wm-top-link, .wm-top-link:hover, .wm-top-link:active, .wm-top-link:visited, .wm-top-link:focus {
color: #EDEDED;
text-decoration: none;
}

.wm-vcenter:before {
content: '';
display: inline-block;
height: 100%;
vertical-align: top;
margin-left: -0.25em;
}

.wm-vcentered {
display: inline-block;
vertical-align: middle;
}

.wm-top-title {
display: inline-block;
line-height: 16px;
vertical-align: middle;
}

.wm-top-logo {
max-height: 100%;
border: 1px solid #EDEDED;
}

.wm-top-version {
border: 1px solid #DEE1DA;
/* border-radius: 3px; */
padding: 0px 5px;
color: #EDEDED;
font-size: 8pt;
}

.wm-top-tool {
height: 50px;
white-space: nowrap;
}

.wm-top-tool-expanded {
position: absolute;
right: 0px;
padding: inherit;
width: 100%;
background-color: #EDEDED;
}

.wm-top-search {
width: 20rem;
}

/***********************************************************************
Table of contents (side pane)
***********************************************************************/

.wm-toc-pane {
position: absolute;
top: 0px;
padding-top: 50px;
height: 100%;
width: 250px;
z-index: 1;
background-color: #0a0a1d;
border-right: 1px none black;
overflow: auto;
margin-left: 0px;
padding-left: 1rem;
padding-right: 1rem;
padding-bottom: 2rem;
transition: margin-left 0.3s;
display: flex;
flex-direction: column;
justify-content: flex-start;
}

.wm-content-pane {
position: absolute;
top: 0px;
padding-top: 50px;
height: 100%;
width: 100%;
z-index: 0;
padding-left: 250px;
transition: padding-left 0.3s;
/* required for iPhone to scroll the contained iframe */
-webkit-overflow-scrolling: touch;
}

.wm-toc-pane.wm-toc-dropdown {
position: absolute;
display: block;
top: 0;
left: 0;
margin-left: 0;
height: auto;
box-shadow: 2px 3px 4px 0 grey;
}

.wm-toc-repo {
margin-bottom: 5px;
border-bottom: 1px none black;
}

.wm-toc-hidden > .wm-toc-pane {
margin-left: -250px;
}

.wm-toc-hidden > .wm-content-pane {
padding-left: 0px;
}

.wm-small-show {
display: none;
}

#wm-search-form {
width: 100%;
}
#wm-search-show {
display: none;
}

@media (max-width: 600px) {
.wm-small-hide {
  display: none;
}
.wm-small-show {
  display: block;
}
.wm-small-left {
  float: left !important;
}
#wm-search-show {
  display: block;
  margin-left: 1rem;
}
.wm-top-tool-expanded #wm-search-show {
  display: none;
}
.wm-top-search {
  display: none;
}
.wm-top-tool-expanded .wm-top-search {
  display: table;
  width: 100%;
  padding: 0px;
}

.wm-top-page {
  overflow: visible;
}
.wm-top-container {
  /* This prevents horizontal overflow, but cuts off search results on bigger
   * screens, so included in small-screen section */
  overflow-x: hidden;
}
.wm-toc-pane {
  display: none;
}
.wm-content-pane {
  padding-left: 0px;
  overflow: visible;
}
}

.wm-toctree {
list-style-type: none;
line-height: 16px;
padding-left: 0px;
}

.wm-toctree a, .wm-toctree a:visited, .wm-toctree a:hover, .wm-toctree a:focus {
color: #EDEDED;
text-decoration: none;
outline: none;
}

.wm-toc-text {
display: block;
padding: 4px;
cursor: pointer;
}

span.wm-toc-text {
  color: #EDEDED;
}

.wm-toc-lev1 > .wm-toc-text { padding-left: 14px; }
.wm-toc-lev2 > .wm-toc-text { padding-left: 28px; }
.wm-toc-lev3 > .wm-toc-text { padding-left: 42px; }

.wm-toc-lev1 + .wm-page-toc { margin-left: 14px; }
.wm-toc-lev2 + .wm-page-toc { margin-left: 28px; }
.wm-toc-lev3 + .wm-page-toc { margin-left: 42px; }

.wm-toc-li-nested {
padding: 0px;
margin: 0px;
}

.wm-toc-opener > .wm-toc-text::before {
content: "\25B6 \FE0E";
display: inline-block;
vertical-align: middle;
font-size: 8px;
width: 14px;
}

.wm-toc-opener.wm-toc-open > .wm-toc-text::before {
content: "\25BC \FE0E";
}

.wm-toc-li.wm-current, .wm-toc-li.wm-current:hover {
background-color: #EDEDED;
color: #0a0a1d;
}

.wm-toc-li:hover {
background-color: #2C313A;
}

.wm-toc-li.wm-current a {
color: #0a0a1d;
}

.wm-toc-li-nested.wm-page-toc {
font-size: 1.2rem;
line-height: 1.2rem;
overflow: hidden;
border-left: 1px solid #EDEDED;
}

.wm-page-toc-opener > .wm-toc-text::after {
content: "\25C4";
display: inline-block;
float: right;
vertical-align: middle;
font-size: 8px;
}

.wm-page-toc-opener.wm-page-toc-open > .wm-toc-text::after {
content: "\25BC";
}

.wm-page-toc-text {
padding: 2px 2px 2px 1rem;
display: block;
cursor: pointer;
}

.wm-article {
width: 1px;
min-width: 100%;
height: 100%;
border: none;
}

button, .btn, .btn-sm, .btn-xs, .btn-default, #hist-fwd, #hist-back, #wm-toc-button, #wm-search-go {
  background-color: #0a0a1d;
  color: #EDEDED;
  border: 1px solid #DEE1DA;
}

.btn-link {
background-color: #39434D;
/* Compensate for border*/
margin: 1px;
border: none;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
outline: none;
}

button:focus, .btn:focus, .btn-sm:focus, .btn-xs:focus, .btn-default:focus, .btn-link:focus, #hist-fwd:focus, #hist-back:focus, #wm-toc-button:focus, #wm-search-go:focus {
color: #EDEDED;
background-color: #2C313A;
border-color: #EDEDED;
}

button:hover, .btn:hover, .btn-sm:hover, .btn-xs:hover, .btn-default:hover, .btn-link:hover, #hist-fwd:hover, #hist-back:hover, #wm-toc-button:hover, #wm-search-go:hover {
color: #EDEDED;
background-color: #2C313A;
border-color: #DEE1DA;
}

.btn-default.greybtn {
color: #888;
}

.wm-article-nav-buttons {
margin: 1rem 0;
}

.wm-page-content img {
max-width: 100%;
display: inline-block;
padding: 4px;
line-height: 1.428571429;
/* background-color: #0a0a1d; */
border: 1px none black;
/* border-radius: 4px; */
margin: 20px auto 30px auto;
}

.wm-article-nav {
display: inline-block;
max-width: 48%;
white-space: nowrap;
color: #EDEDED;
text-align: right;
}

.wm-article-nav > .btn-link {
display: block;
padding-left: 0.5rem;
padding-right: 0.5rem;
overflow: hidden;
text-overflow: ellipsis;
}

.wm-article-nav > a, .wm-article-nav > a:visited, .wm-article-nav > a:hover, .wm-article-nav > a:focus {
color: #EDEDED;
text-decoration: none;
outline: none;
}

/***********************************************************************
* Dropdown search results
***********************************************************************/
#mkdocs-search-results.dropdown-menu {
width: 40rem;
overflow-y: auto;
overflow-x: hidden;
white-space: normal;
max-height: calc(100vh - 60px);
max-width: 90vw;
}

#mkdocs-search-results {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif,FontAwesome;
}

.search-link {
font-size: 1.2rem;
}

.search-title {
font-weight: bold;
color: #337ab7;
padding-right: 1rem;
}

.search-text {
color: #999;
overflow: hidden;
text-overflow: ellipsis;
}

.search-text > b {
color: orangered;
}

.wm-search-page {
list-style: none;
padding: 5px 0;
}

.wm-search-page > li {
padding: 1rem 0;
border-bottom: 1px solid #ccc;
}

.wm-search-page .search-link {
font-size: inherit;
}

.wm-search-page .search-link:hover, .wm-search-page .search-link:active {
text-decoration: none;
}

.wm-search-page .search-link:hover .search-title {
text-decoration: underline;
}



/***********************************************************************
* The rest is taken from base.css from mkdocs.
***********************************************************************/

.source-links {
float: right;
}

h1 {
  color: #EDEDED;
  font-weight: 400;
  font-size: 42px;
  padding-top: 10px
}

h2, h3, h4, h5, h6 {
  color: #EDEDED;
  font-weight: 300;
  padding-top: 10px
}

hr {
  border-top: 1px solid #aaa;
}

pre, .rst-content tt {
  max-width: 100%;
  background: #282b2e;
  border: solid 1px black;
  /*color: orangered;*/
  overflow-x: auto;
}

code.code-large, .rst-content tt.code-large {
  font-size: 90%;
}

code {
  padding: 2px 5px;
  background: #31363F;
  border: none 1px black;
  color: orangered;
  white-space: pre-wrap;
  word-wrap: break-word;
}

pre code {
  background: transparent;
  border: none;
  white-space: pre;
  word-wrap: normal;
  font-family: monospace,serif;
  font-size: 12px;
}

footer {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 200;
  font-size: smaller;
}

.modal-dialog {
  margin-top: 60px;
}

.headerlink {
  font-family: FontAwesome;
  font-size: 14px;
  display: none;
  padding-left: .5em;
}

h1:hover .headerlink, h2:hover .headerlink, h3:hover .headerlink, h4:hover .headerlink, h5:hover .headerlink, h6:hover .headerlink{
  display:inline-block;
}

.admonition {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  /* border-radius: 4px; */
  text-align: left;
}

/* More class support */
.admonition.note, .admonition.hint, .admonition.tip, .admonition.title, .admonition.admonition { /* csslint allow: adjoining-classes */
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

/* More class support */
.admonition.warning, .admonition.caution, .admonition.attention { /* csslint allow: adjoining-classes */
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #fbeed5;
}

/* More class support */
.admonition.danger, .admonition.error, .admonition.important { /* csslint allow: adjoining-classes */
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.admonition-title {
  font-weight: bold;
  text-align: left;
}

/* Custom Additions */
input#mkdocs-search-query.form-control {
  background-color: #2A2A2A;
  color: #EDEDED;
  border: 1px solid #DEE1DA;
  border-top: none;
}

.dropdown-menu, .dropdown-menu li {
  background-color: #0a0a1d;
}
.dropdown-menu li a:hover {
  background-color: #2C313A;
}

a, a:visited, a:hover, a:focus {
color: #EDEDED;
text-decoration: none;
outline: none;
}

.wm-page-content a {
  color: #EDEDED !important;
  text-decoration: none;
  outline: none;
}

.search-title {
  color: #EDEDED;
}

table {
  background-color: inherit;
}
/* Zebra */
th {
  background-color: #0a0a1d;
}
tbody > tr:nth-child(odd), tbody > tr:nth-child(odd) > td {
  background-color: #39434D;
}
tbody > tr:nth-child(even), tbody > tr:nth-child(even) > td {
  background-color: #2C323C;
}

/* shit from bootstrap */

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  /* border-radius: 0.25rem; */
}

.card > hr {
  margin-right: 0;
  margin-left: 0;
}

.card > .list-group {
  border-top: inherit;
  border-bottom: inherit;
}

.card > .list-group:first-child {
  border-top-width: 0;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card > .list-group:last-child {
  border-bottom-width: 0;
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}

.card > .card-header + .list-group,
.card > .list-group + .card-footer {
  border-top: 0;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.card-title {
  margin-bottom: 0.75rem;
}

.card-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link:hover {
  text-decoration: none;
}

.card-link + .card-link {
  margin-left: 1.25rem;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card-header-tabs {
  margin-right: -0.625rem;
  margin-bottom: -0.75rem;
  margin-left: -0.625rem;
  border-bottom: 0;
}

.card-header-pills {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
  border-radius: calc(0.25rem - 1px);
}

.card-img,
.card-img-top,
.card-img-bottom {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
}

.card-img,
.card-img-top {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card-img,
.card-img-bottom {
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}

.card-deck .card {
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .card-deck {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .card-deck .card {
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px;
  }
}

.card-group > .card {
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .card-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }
  .card-group > .card {
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    margin-bottom: 0;
  }
  .card-group > .card + .card {
    margin-left: 0;
    border-left: 0;
  }
  .card-group > .card:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .card-group > .card:not(:last-child) .card-img-top,
  .card-group > .card:not(:last-child) .card-header {
    border-top-right-radius: 0;
  }
  .card-group > .card:not(:last-child) .card-img-bottom,
  .card-group > .card:not(:last-child) .card-footer {
    border-bottom-right-radius: 0;
  }
  .card-group > .card:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .card-group > .card:not(:first-child) .card-img-top,
  .card-group > .card:not(:first-child) .card-header {
    border-top-left-radius: 0;
  }
  .card-group > .card:not(:first-child) .card-img-bottom,
  .card-group > .card:not(:first-child) .card-footer {
    border-bottom-left-radius: 0;
  }
}

.card-columns .card {
  margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
  }
  .card-columns .card {
    display: inline-block;
    width: 100%;
  }
}

.accordion {
  overflow-anchor: none;
}

.accordion > .card {
  overflow: hidden;
}

.accordion > .card:not(:last-of-type) {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.accordion > .card:not(:first-of-type) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.accordion > .card > .card-header {
  border-radius: 0;
  margin-bottom: -1px;
}

.bg-dark {
  background-color: #191a1b !important;
}

a.bg-dark:hover, a.bg-dark:focus,
button.bg-dark:hover,
button.bg-dark:focus {
  background-color: #1d2124 !important;
}

.bg-white {
  background-color: #fff !important;
}

.bg-transparent {
  background-color: transparent !important;
}

/* scroll bar style */

/* width */
::-webkit-scrollbar {
  width: 20px;
  border: 1px solid #;
}

/* Track */
::-webkit-scrollbar-track {
  background: #39434d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  border: 1px solid #DEE1DA;
  background: #2b2b2b;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #636363;
}

/* Additional styles */
.add-border{
  border: 1px solid #DEE1DA;
}
.set-bg2 {
background-color: #2A2A2A;
}

.tocpane-repo {
  display: flex;
  flex-direction: column;
  
}
.tocpane-repo-title {
  background: #2A2A2A;
  border: 1px solid #DEE1DA;
  border-bottom: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wm-top-title img {
  border: 1px solid #DEE1DA;
}
.logo-container {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 230px;
  height: 50px;
}
#wm-toc-button {
  border-top: none;
  font-size: 12.5px;
  background: #2A2A2A;
}
#mkdocs-search-query {
background: #2A2A2A;
}

#wm-search-go {
  border-top: none;
  background: #2A2A2A;
}